.container_about {
    display: flex;
    padding: 5em 0;
    flex-direction: column;
    border-bottom: 1px solid var(--grey);
}

.container_about h2 {
    text-align: center;
}

.about_txt p {
    margin: 8px 0;
    text-align: justify;
}

@media screen and (max-width: 1400px) {
    .container_about {
        align-items: flex-start;
    }
}

@media screen and (max-width: 1000px) {
    .container_about {
        gap: 1em;
        align-items: center;
        flex-direction: column;
    }

    .container_about img {
        display: none;
    }
}